<div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             Comments
           </h4>
         </div>
       </div>
<% @post.comments.each do |comment| %>
<div class="media">
  <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
  <% end %>
  <div class="media-body">
    <small>
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if policy(comment).destroy? %>
        <%= link_to "Delete", [@post, comment], method: :delete %>
      <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
</div>
<% end %>